extends ../layout

block content
  .container
    h1.page-header #{email}님의 설문 List

    total #{pagination.numPosts} posts
    table.table.table-bordered
      thead
        tr
          th 작성자
          th 설문제목
          th 날짜
          th 조회수
          th 결과보기
          th 비고
      tbody
        each post in posts
          tr
            td= post.email
            td
              a(href='/views/#{post.id}')= post.subject
            td= moment(post.createdAt).format('YYYY-MM-DD HH:mm:ss')
            td= post.read
            td
              a.btn.btn-xs.btn-default(class='result', data-id= post.id, href='/posts/result/'+post.id) 결과보기
            td
              a.btn.btn-xs.btn-default(class='update', data-id= post.id) 수정

              a.btn.btn-xs.btn-default(class='delete', data-id= post.id) 삭제

    a.btn.btn-primary(href='/posts/new') 설문 만들기
