extends ../layout

block content
  script(type='text/javascript', src='/javascripts/survey.js')
  .container
    h1.page-header #{survey[0].subject}
    p

    b by #{survey[0].email}
    .a span at #{moment(survey[0].createdAt).format('YYYY-MM-DD HH:mm:ss')}

    - for (var d in question)
      table.surveyQuestion(id= question[d]._id)
        p.well(style='white-space:pre;') #{question[d].head}
        if question[d].type ==="객관식"
          - for (var i in op[d])
            tr.sel
              td
                input(type="checkbox",name="sel", value= i)
                label #{op[d][i].option}
        else
            if question[d].type ==="주관식"
              tr.text
                td
                  textarea.form-control.text(rows=3,cols=80)
            else if question[d].type ==="리커트척도"
                tr.selnum
                    - for (var i=1 ; i< 6 ; i++)
                        tr
                          td
                            label.checkbox-inline= i
                            input.a(type="checkbox",name="one", value= i)



    a.btn.btn-default.recieve(id= survey[0]._id, href='/posts') 제출
